<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context containing authentication
  - Only used by "filter" artifact.
  -->

<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">
	<!--
	spring:
	  security:
		oauth2:
		  resourceserver:
			jwt:
			  #issuer-uri: http://localhost:8180/realms/spring-as
			  jwk-set-uri: http://localhost:8180/realms/spring-as/protocol/openid-connect/certs
	-->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" xmlns="http://www.springframework.org/schema/beans">
		<property name="locations">
			<list>
				<value>classpath:application.yml</value>
			</list>
		</property>
	</bean>
	<authentication-manager id="authenticationManager" alias="authenticationManager"/>
	<http pattern="/api/v1/**" authentication-manager-ref="authenticationManager">
		<oauth2-resource-server>
			<jwt jwk-set-uri="${oidc.jwk-set-uri}"/>
		</oauth2-resource-server>
		<intercept-url pattern="/api/v1/**" access="hasAuthority('SCOPE_message.read')"/>
	</http>
</b:beans>
